:root{
 --arnab: #F53838;
 --axmed:#FFECEC;
 --gariye: #f7f7f7;
 --grey-1: rgb(236, 236, 236);
 --ar: 'Rubik', sans-serif;
 --nav: nav;
}

*{
 margin: 0;
 padding: 0;
 box-sizing:border-box;
}
nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
 align-self: center;
 flex-grow: 3;
}
.lo h1{
 cursor: pointer;
}
ul{
 display: flex;
 margin-top: 10px;
}
ul li{
 padding: 10px;
 list-style: none;
}
ul li a{
 text-decoration: none;
 display: flex;
 justify-content: center;

}
.btn{
 padding-left: 10px;
 margin: 3px;
}
.btn1{
 background-color: white;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 10px;;
}
.btn2{
 background-color: white;
 border: 1px solid var(--arnab);
 outline: none;
 cursor: pointer;
 padding:10px;
 border-radius: 30px;
 width: 100px;
}
.continer{
 width: 80%;
 display: flex;
 flex-direction: column;
 padding: 30px;
 margin: 0px 0px 0px 90px;
}
.sec-1{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-top: 20px;
}
.left{
 padding: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.left h1{
 font-family: 'Rubik', sans-serif;
 margin: bottom 5px;;
}
.left p{
 font-family: 'Rubik', sans-serif;
 font-family: 600;
 margin-top: 10px;
 margin-bottom: 15px;
 color: gray;
}
.left button{
 padding: 10px;
 width: 150px;
 background-color: var(--arnab);
 color: var(--axmed);
 border-radius: 20px;
 border: none;
 outline: none;
 cursor: pointer;
 margin:13px 0px 13px 0px;
 box-shadow: 2px 50px 70px 1px red;
}
.sec-1 .ri img{
 width: 400px;
}
.rectangel{
 margin-top: 70px;
 background-color: white;
 box-shadow: 3px 3px 15px rgb(241, 241, 241);
 border-radius: 15px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 /* align-self: center; */
 justify-items: center;
 padding: 20px;
 width: 70%;
 margin-left: 14%;
}
.info{
 display: flex;
 padding: 10px;
}
.info h4{
 padding-left: 10px;
}
.info h4 span{
 font-family: 'Rubik', sans-serif;
 font-weight: bolder;
}
.info img{
 width: 40px;
}
.sec3{
 display: flex;
 margin-top :10%;
 justify-content: center;
}
.sec3 img{
 width: 400px;
}
.sect-3-type{
 margin: 5%;
 padding-top: 10px;
}
.sect-3-type h1,p,h5{
 padding-top: 10px;
 font-family: 'Rubik', sans-serif;
 padding-left: 4px;
}
.sect-3-type i{
 color: rgb(4, 153, 11);
}
.chose-your-program{
 margin-top: 3%;
 display: flex;
 background-color: var(--grey-1);
 justify-content: center;

}

.cyp{
 margin-top: 20px;
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-gap: 60px;
 /* justify-items: center;
 align-content: center; */
}

.cyp .head{
 grid-column: 1/4;
 text-align: center;
}
.cyp-1{
 background-color: var(--gariye);
 margin-top: -6%;
 padding: 14px;
 margin-bottom: 5%;
 border-radius: 7px;
 font-family: 'Rubik', sans-serif;
 border: 1px solid;
}
.cyp-1:hover{
 border: 1px solid var(--arnab);
 transform: translateY(-4px);
 transition: 0.2s ease-out 50ms;
 box-shadow: 3px 3px 30px var(--gariye);
}
.cyp-1 h3{
 text-align: center;
 margin-top: 3%;
 margin-bottom: 3%;
}
.cyp-1 button{
 padding: 10px;
 width: 130px;
 margin-top: 3%;
 margin-left: 4%;
 background-color: var(--gariye);
 outline: none;
 border: 1px solid var(--arnab);
 cursor: pointer;
 border-radius: 20px;
}
.cyp-1 button:hover{
 background-color: var(--arnab);
 color: white;
 box-shadow: 3px 3px 3px var(--arnab);
}

.huge{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
 background-color: white;
 font-family: 'Rubik', sans-serif;
}
.huge h1{
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}
.huge p{
text-align: center;
}
.huge img{
 width: 70%;
 margin: 30px;
}
.group-1{
 display: flex;
 justify-content: center;
 flex-direction: row;
 align-items: center;
 padding: 10px;
}
.group-1 img{
 cursor: pointer;
}
.group-1 img:hover{
 transform: translateY(-3px);
 transition: 0.04s ease-out 50ms;
}

.container2{
 width: 80%;
 display: -moz-groupbox;
 grid-template-columns: repeat(3,1fr);
 /* flex-direction: column; */
 padding: 30px;
 margin: 0px 0px 0px 90px;
 text-align: center;
}
.slide{
 display: flex;
 flex-direction: column;

}
.slide-1{
 display: flex;
 border: 1px solid orangered;
 width: 86%;
 padding: 10px;
 border-radius: 20px;
 margin-top: 20px;
}

.slide-1 p{
}
.slide-1 .top div{
 width: 60px;
 height: 60px;
 border-radius: 50%;
 background-color: cadetblue;
}
.slides{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 10px;
}
.slide .top{
 width: 100%;
 /* height: 100px; */
 display: flex;
 justify-content: space-between;
}
.sec-4{
 display: flex;
 justify-content: space-between;
 margin-top: 40px;
}
.first-1{
 display: flex;
 padding: 10px;
}
.red-1{
 width: 40px;
 height: 10px;
 background-color: red;
 border-radius: 30px;
 margin: 4px;
}
.red-2{
 width: 10px;
 height: 10px;
 background-color: rgb(224, 224, 224);
 border-radius: 50%;
 margin: 4px;
}
.first-2{
 display: flex;
 padding: 10px;
}
.red-3{
 margin-right: 10px;
 width: 40px;
 height: 40px;
 background-color: white;
 border-radius: 50%;
 border: 1px solid red;
 cursor: pointer;
}
.red-3 i{
 color: red;
 padding: 10px;
}
.red-3:hover{
  background-color: red;
}
.red-3 i:hover{
 color: white;
}
.conteiner-3{
 width: 80%;
 margin: 0px 0px 0px 60px;
 margin-bottom: 10px;
 font-family: var(--ar);
}
.get{
 box-shadow: 2px 2px 10px rgb(223, 223, 223);
 display: flex;
 justify-content: space-between;
 padding: 30px;
 margin: 0px 0px 0px 90px;
 border-radius: 5px;
}
.get-2 button{
 padding: 10px;
 background-color: red;
 color: white;
 cursor: pointer;
 outline: none;
 border: 0px;
 margin: 40px;
 width: 120px;
 border-radius: 20px;
 box-shadow: 2px 20px 10px var(--grey-1);
}

.foo{
 display: flex;
 /* height: 300px; */
 padding: 40px;
 justify-content: space-around; 
 align-items: flex-end;
 background-color: var(--grey-1);

}
.footer-1 h1,p,i{
 margin: 5px;
 font-family: var(--ar);
}
.footer-2{
 display: flex;
 justify-content: space-around;
}
.footer-2 div{
 margin: 14px;
}
.footer-2 li{
 list-style: none;
 padding: 2px;
 cursor: pointer;
}
.footer-2 li:hover{
 text-decoration: underline;
 transform: translateY(-2px);
 transition: 0.1s ease;
}
.footer-2 .hed{
 font-weight: bolder;
 font-family: var(--ar);
}
.hide{
 visibility: hidden;
}
@media(max-width:768px){
 .hide{
  visibility: visible;
  padding: 8px;
  background-color: white;
  border: 1px solid var(--arnab);
  border-radius: 15px;
  width: 100px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
 }
 .hide:hover{
   background-color: var(--arnab);
   color: white;
 }
 nav ul{
  display: flex;
  flex-direction: column;
  line-height: 10px;
  background-color: var(--arnab);
 }
 nav ul li a{
   color: white
 }
 .sec-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
 }
 .rectangel{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
 }
 .info{
  margin: 10px;
 }
 .sec3{
  display:flex;
  flex-direction: column;
 }
 .chose-your-program{
  display: flex;
  flex-direction: column;
 }
 .cyp{
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(2,1fr);

 }
 
 .cyp .head{
  grid-row: 1/3;
 }
 .group-1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
 }
 .foo{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .footer-1{
   margin-top: 10px;
 }
 .slides{
   display: grid;
   grid-template-columns: repeat(1,1fr);
 }
}

@media( max-width:480px){
  nav{
    display: grid;
    /* grid-template-columns: repeat(1,1fr); */
    /* grid-gap: 10px; */
    /* justify-items: center; */
  }
  .hide{
    display:none;
  }
  .sec-1{
    display: flex;
    flex-direction: column;
     justify-content: center;
     margin: auto;
  }
  .rectangel{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    justify-items: center;
    width: 350px;
    margin: auto;
    margin-top: 20px;
  }
  .chose-your-program{
    display: none;
  }
}